/*
Theme Name: Style
Description: Guess The Number Game
Author: April Rood
Author URI: https://acodez.com/
Tags: WordPress, Website
*/

:root {
  --blue-color: #5fbc91;
  --red-color: #d81128;
  --white-color: #ffffff;
}

* {
 overflow-y: hidden;
}
  
body {
  background-color: var(--white-color); 
  background-image: url("https://i.ibb.co/6H7GPLz/pngguru-com-1.png");
  background-position: left bottom; 
  background-repeat: no-repeat; 
  background-size: contain;
}

h3 { /* used in greeting text */
  color: var(--blue-color); 
  text-align: center;
}

input[type=number] {  /* input for "enter your guess here" */
  background-color: rgba(255,255,255,.8); /* makes input background transparent white */
  border: 1px solid var(--red-color); 
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--red-color); 
  display: inline-block;
  margin: 8px 0;
  padding: 12px;
  width: 15%;
}

input[type=number]:focus { /* when user clicks on input */
  border: 1px solid;
  border-radius: 4px;
  outline-color : var(--blue-color);  !important;
}

/* This removes the arrows from the number field for all browsers. */
/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
/* end of removes the arrows from the number field */

.container {
  height: 100vh;
}

#feedback { /* div where guess feedback is displayed */
  border-radius: 5px;
  color: var(--blue-color);
  font-size: 23px;
  margin-left: 30%;
  margin-top: 0px;
  padding: 5px;
  padding-top: 10px;
  text-align: right;
}

.guessCol { /* the column the "guess here" input is in */
  color: var(--red-color);
  font-size: 25px;
  padding-top: 50px;
  text-align: right;  
}

.guessDiv { /* the div the "guess here" input is in */
  background-color: rgba(255,255,255,.9);
}

.hostPicDiv { /* div where the host's picture is displayed */
  float: right;
}

.hostTextDiv { /* div where the host instructions are displayed */
  color: var(--red-color);
  font-size: 20px;
  padding: 10px;
  text-align: right;
}

.mainrow {
  margin: 20px;
}

.row {
   padding: 10px;
}

.submitButton {
  border: none;
  cursor: pointer;
  width: 80px;
}

.submitButton:hover {
  opacity: .5;
}

.tryAgainButton {
  width: 40%;
}

.tryAgainButton:active {
	position:relative;
	top:1px;
}

.tryAgainButton:hover {
	opacity: .5;
}

.tryAgainCol {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center; 
  margin-top: 20px;  
  overflow: visible;
}

.turnsArea { /* where number of turns left is displayed */
  color: var(--blue-color);
  display: flex; /* has words and number display inline */
  font-size: 35px;
  margin: 5px;
  padding: 10px;
}